{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mój sklep{% endblock %}</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
    <div id="header">
        <a href="/" class="logo">Mój sklep</a>
    </div>
    <div id="subheader">
        <div class="cart">
            {% with total_items=cart|length %}
                {% if cart|length > 0 %}
                    Koszyk:
                    <a href="{% url 'cart:cart_detail' %}">
                        {{ total_items }} produkt{{ total_items|pluralize:"y" }},
                        {{ cart.get_total_price }} zł
                    </a>
                {% else %}
                    Koszyk jest pusty.
                {% endif %}
            {% endwith %}
        </div>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>